footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: nowrap;
}

p {
    font-family: var(--font-mosca);
    font-size: clamp(0.75rem, 1.2vw, 1rem);
    white-space: nowrap;
    flex-shrink: 1;
}

.contact-icons {
    display: flex;
    gap: 1rem;
}

.contact-icons img {
    width: 2rem;
    rotate: 90deg;
    cursor: pointer;
}

.contact-icons img:hover {
    width: 2.2rem;
}

@media (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact-icons img {
        width: 1.5rem;
    }

}