<footer>
    <img src="assets/img/logo-anabelmarinho2.svg" class="logo">

    <div class="contact-icons">
        <a href="mailto:anabel.soares2001@email.com"
           aria-label="Enviar email">
            <img src="assets/icons/email-icon.svg" alt="Email">
        </a>

        <a href="https://www.linkedin.com/in/anabel-marinho-0b718231b/"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="LinkedIn">
            <img src="assets/icons/linkedin-icon.svg" alt="LinkedIn">
        </a>

        <a href="https://wa.me/5584981509577"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="WhatsApp">
            <img src="assets/icons/phone-icon.svg" alt="WhatsApp">
        </a>

        <a href="https://github.com/AnabelMarinho"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="GitHub">
            <img src="assets/icons/github-icon.svg" alt="GitHub">
        </a>
    </div>

    <p>&copy; 2026 Anabel Marinho Soares</p>
</footer>