header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header-contact-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--tertiary);
    font-size: var(--subtitle);
    font-family: var(--font-mosca);
    text-decoration: underline;
    width: 92%;
    transition: color 0.3s ease;

    background-color: var(--primary);
    padding: 0.5rem 1rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-contact-bar:hover {
    cursor: pointer;
    color: var(--secondary);
}

.phone-icon {
    width: clamp(1.0rem, 2.2vw, 2.15rem);
    height: clamp(1.0rem, 2.2vw, 2.15rem);
}