.projects-container {
    margin-top: 2rem;
}

.projects-name-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 2rem;
    position: relative;
}

.projects-name-bar p {
    color: var(--tertiary);
    font-family: var(--font-laybar);
    white-space: nowrap;   
    font-size: clamp(0.7rem, 3.5vw, 3rem);
    text-shadow: 0px -3px var(--primary);
    z-index: 1;
    margin-bottom: 0.5rem;
}

.border {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    height: 1.5rem;
    bottom: 0;
    z-index: 0;
}

.title {
    position: relative;
    background-color: var(--primary);
    color: var(--tertiary);
    font-family: var(--font-laybar);
    font-size: 8vw;
    padding: 1rem;
    text-align: center;

    img {
        position: absolute;
        inset: 0 1rem 0 auto;
        margin: auto;
    }
}

.projects {
  margin-top: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-items: stretch;
}

.border-ornament-wrapper {
    height: 100%;
    display: flex;
}

@media (max-width: 480px) {
.projects-name-bar {
    gap: 0.5rem;
}

.projects {
    grid-template-columns: repeat(2, 1fr);
  }
}