<div class="projects-container">
    <div class="projects-name-bar">
        <p>Java Angular Spring Boot HTML CSS</p>
        <div class="border"></div>
    </div>
    <div class="title">
        <p>Projetos</p>
        <img src="assets/img/star3.svg" id="star-decorative">
    </div>

    <div class="projects">
        <app-card
        title="▣ Projeto e Artigo ▣"
        text="Desenvolvi um projeto de reconhecimento de expressões faciais em tempo real usando Redes Neurais Convolucionais, com 86% de acurácia, reconhecido com Menção Honrosa no V CoBICET. A experiência me permitiu aplicar deep learning, pré-processamento de imagens e desenvolvimento de aplicações em Python e Streamlit."
        image="assets/img/project1.svg"
        [tags]="['CNNs', 'Inteligência Artificial', 'Expressão Facial', 'Artigo', 'Python']"
        ></app-card>

        <app-card
        title="▣ Interface Front ▣"
        text="Desenvolvimento da Interface Mobile do Vulpes XP - Projeto Frontend Durante o meu Trabalho de Conclusão de Curso (TCC) desenvolvi a interface do Vulpes XP, um aplicativo para avaliação de jogos digitais, utilizando Figma, React Native com TypeScript, Expo Go, Android Studio e Expo Router"
        image="assets/img/project2.svg"
        [tags]="['Frontend', 'React Native', 'Expo Go', 'Android Studio', 'Mobile']"
        ></app-card>

        <app-card
        title="▣ Finança+ ▣"
        text="Desenvolvi a parte backend do aplicativo web Finança+, que tem o objetivo de permitir que as pessoas ter uma visão ampla e completa da sua situação financeira. O sistema oferece relatórios e gráficos interativos que facilitam a análise sobre o desempenho financeiro ao longo do tempo de cada usuário. Para que isso foi possivel"
        image="assets/img/project3.svg"
        [tags]="['Backend', 'Java', 'Spring Boot', 'Aplicativo Financeiro', 'Swagger', 'PostgreSQL']"
        ></app-card>
    </div>

</div>
