<section class="content-section">
    <div class="left-column">

        <article class="block1">
            <div class="block-content">
                <p id="title">Dev FullStack</p>

                <div class="left-column-center">
                    <div class="card-name">Anabel Marinho Soares</div>
                    <img src="assets/img/star1.svg" id="star-decorative">
                </div>

                <p class="description">
                    Olá, me chamo Anabel Marinho Soares e transformo ideias em interfaces funcionais e problemas em soluções claras.
                    Sou flexível e me adapto rapidamente a novas linguagens de programação, frameworks, bibliotecas e ferramentas,
                    estando sempre aberta a aprender e aplicar novos conhecimentos. Sou formada em Tecnologia da Informação (TI) e atualmente curso Engenharia de Software.
                    Tenho prática na integração com APIs REST e aplico boas práticas de engenharia de software para entregar soluções de qualidade. No backend, trabalho com Java, Spring Boot e PostgreSQL, 
                    oferecendo soluções completas fullstack quando necessário.
                </p>
                <app-infinite-carousel></app-infinite-carousel>
            </div>
        </article>

        <article class="block2">
            <div class="contact">
                <ul>
                    <a>
                        <img src="assets/icons/email-icon.svg">
                        <p>Email</p>
                    </a>
                    <a>
                        <img src="assets/icons/linkedin-icon.svg">
                        <p>Linkedin</p>
                    </a>
                    <a>
                        <img src="assets/icons/phone-icon.svg">
                        <p>Telefone</p>
                    </a>
                    <a>
                        <img src="assets/icons/github-icon.svg">
                        <p>Github</p>
                    </a>
                </ul>
            </div>

            <div class="tech">
                <p class="tech-title">▩▣▩ --- Tecnologias --- ▩▣▩</p>
                <div class="tech-card">
                    <div>
                        <p>Linguagens</p>
                        <span>HTML, CSS, JAVASCRIPT, TYPESCRIPT, JAVA</span>
                    </div>
                    <div>
                        <p>Frameworks</p>
                        <span>ANGULAR, REACT, REACT NATIVE, NEXTJS,TAILWIND, SPRING BOOT</span>
                    </div>
                </div>
                <div class="star-line"><img src="\assets\img\star-mini.svg" id="star-decorative-mini"></div>
                <div class="methodologies">
                    <p class="title">Metodologias Ágeis</p>
                    <p>Scrum & Kanban</p>
                </div>
            </div>
        </article>

    </div>

    <div class="right-column">
        <article class="block3">
            <div class="card-right">
                <p>
                    Durante minha formação acadêmica, participei de diversos projetos em grupo nos quais aplicamos metodologias
                    ágeis, como Scrum e Kanban, para organizar tarefas, definir metas e realizar entregas iterativas
                </p>
            </div>

            <div class="card-img-right">
                <img src="/assets/img/logo-anabelmarinho2.svg">
                <div class="filter"></div>
            </div>

            <div class="tech-list">
                <p>Outras</p>
                <p>Tecnologias</p>
                <span>
                    Git + Visual Studio Code + Expo + Android Studio + Intellij IDEA + JPA +
                    PostgreSQL + Maven + Swagger
                </span>
                <div class="img-star">
                    <img src="assets/img/star2.svg" id="star-decorative">
                </div>
            </div>
        </article>

        <div class="border-ornament-wrapper">
            <app-border-ornament variant="vertical"></app-border-ornament>
        </div>
    </div>
</section>
