<section class="content-section">
    <div class="left-column">
        <article class="block1">
            <p id="title">Dev FullStack</p>
        </article>
        <article class="block2"></article>
    </div>

    <div class="right-column">
        <article class="block3">
            <div class="card-right">
                <p>Durante minha formação acadêmica, participei de diversos projetos em grupo nos quais aplicamos metodologias ágeis, como Scrum e Kanban, para organizar tarefas, definir metas e realizar entregas iterativas</p>
            </div>
            <div class="card-img-right">
                <div class="filter"></div>
                <img src="https://media.licdn.com/dms/image/v2/D4D03AQGO2uQUyBHxSA/profile-displayphoto-shrink_200_200/B4DZZ6RvdaH4AY-/0/1745808194367?e=1770249600&v=beta&t=jeyGjT_xhfQwGDVp_MzCQVDtkCW9W_HUkSnc2_TgCf0">
            </div>
            <div class="tech-list">
                <p>Outras</p>
                <p>Tecnologias</p>
                <span>Git + Visual Studio Code + Expo + Android Studio + Intellij IDEA + JPA + PostgreSQL + Maven + Swagger</span>
                <div class="img-star">
                    <img src="assets\img\star2.png" id="star-decorative">
                </div>
            </div>
        </article>
        <div class="border-ornament-wrapper">
            <app-border-ornament variant="vertical"></app-border-ornament>
        </div>
    </div>
</section>