#title {
    font-family: var(--font-laybar);
}

.content-section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.left-column {
    width: 80%;
}

/* Right Column */

.right-column {
    position: relative;
    width: 20%;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding-left: 1rem;
}

.right-column::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 10rem;
    background: var(--primary);
}

.right-column::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 10rem;
    background: var(--primary);
}

.card-right {
    border: solid 4px var(--primary);
    padding: 1rem;
    font-family: var(--font-sketsa);
    font-size: var(--subtitle);
}

.card-img-right {
    position: relative;
    border: solid 4px var(--primary);
    margin-top: 1rem;
    border-bottom-right-radius: 4rem;
    line-height: 0;
    overflow: hidden;

    .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        opacity: 0.5;
        inset: 0;
    }
}

.card-img-right img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}

.border-ornament-wrapper {
    height: 100%;
    display: flex;
}

.tech-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
    p {
        background-color: var(--primary);
        color: var(--tertiary);
        font-family: var(--font-laybar);
        font-size: var(--subtitle);
    }
    span {
        font-family: var(--font-sketsa);
        font-size: var(--text);
        margin-bottom: 4rem;
    }

    .img-star{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 900px) {

.right-column {
    width: 50%;
}

.right-column::after{
    width: 6rem;
}

}