<div class="tech-container">

  <div class="tech-content">
    <a class="projects-link">
      <span>Veja outros projetos</span>
    </a>

    <div class="tech-bar">
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
    </div>
  </div>

  <div class="soft-skills">
    <div class="soft-skills-content">
      <p class="soft-skills-list">
        Pontual Comprometimento Trabalho em equipe Buscar por respostas Vontade de aprender
      </p>
      <p class="soft-skills-title">Soft Skills</p>
    </div>

    <img src="assets/img/star2.svg" id="star-decorative" alt="decorative star">
  </div>

</div>