.demonStars {
  font-family: 'DemonStars';
  font-size: var(--subtitle);
}

.ophiumDemo {
  font-family: 'OphiumDemo';
  font-size: var(--subtitle);
}

.sketsaHanddrawn {
  font-family: 'SketsaHanddrawn';
  font-size: var(--text);
  
}

.laybar {
  font-family: 'Laybar';
  color: var(--primary);
}
