.carousel-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 2rem;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--tertiary) 12%,
    var(--tertiary) 88%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--tertiary) 12%,
    var(--tertiary) 88%,
    transparent 100%
  );
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: slide 15s linear infinite;
}

.carousel-group {
  display: flex;
}

.carousel-item {
  width: clamp(50px, 12vw, 100px);
  aspect-ratio: 1 / 1;

  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.carousel-item2 {
  width: clamp(50px, 12vw, 100px);
  aspect-ratio: 1 / 1;

  border: solid 4px var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.carousel-item img,
.carousel-item2 img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: slide 12s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

