<div class="carousel-container">
  <div class="carousel-track">

    <!-- grupo 1 -->
    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <!-- repetições -->
    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>
    
    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>

    <div class="carousel-group">
      <div class="carousel-item">
        <img src="assets/img/logo-anabelmarinho1.svg" />
      </div>
      <div class="carousel-item2">
        <img src="assets/img/logo-anabelmarinho2.svg" />
      </div>
    </div>
  </div>
</div>
