<div class="education-container">
    <p class="title">Formação Acadêmica</p>
    <div class="education-card">
        <div class="education-content">
            <div class="text">
                <p>✶ Ensino Médio concluído | Escola Estadual Professor Pedro Raimundo do Nascimento (2019)</p>
                <p>✶ Bacharelado em Tecnologia da Informação | UFERSA (2020-2025)</p>
                <p>✶ Bacharelado em Engenharia de Software | UFERSA (2025-2026)</p>
            </div>
        </div>
        <div class="img-content">
            <img src="assets/img/logo-anabelmarinho1.svg">
        </div>
    </div>
</div>