* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 1rem;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: var(--text);
}

:root {
  
  --primary: #ce1879;
  --secondary: #e6e2e2;
  --tertiary: #252527;

  --title: clamp(1.0rem, 8.2vw, 10.15rem);
  --subtitle: clamp(1.2rem, 3.0vw, 4.0rem);
  --text: clamp(1.1rem, 2.1vw, 2.5rem);

  --font-laybar: 'Laybar', system-ui, sans-serif;
  --font-ophium: 'OphiumDemo', serif;
  --font-sketsa: 'SketsaHanddrawn', cursive;
  --font-mosca: 'Mosca', sans-serif;
}

@font-face {
  font-family: 'OphiumDemo';
  src: url('/assets/fonts/OphiumDemo/Ophium Font Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'SketsaHanddrawn';
  src: url('/assets/fonts/SketsaHanddrawn/SketsaHanddrawn-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Laybar';
  src: url('/assets/fonts/Laybar/LAYBAR.ttf') format('truetype'),
       url('/assets/fonts/Laybar/LAYBAR.otf') format('opentype');
}

@font-face {
  font-family: 'Mosca';
  src: url('/assets/fonts/MoscaLaroke/Mosca Laroke.otf') format('truetype'),
       url('/assets/fonts/MoscaLaroke/Mosca Laroke.ttf') format('opentype');
}

#title {
  white-space: nowrap;
  width: 100%;
  font-size: var(--title);
  line-height: 1;
  letter-spacing: -0.04em;
}

#star-decorative {
    width: 2.5rem;
    height: 3.5rem;
}


#star-decorative-mini {
    width: 1.5rem;
    height: 2.5rem;
}

#logo-anabel {
    width: 5rem;
    height: 5rem;
}

@media (max-width: 900px) {
  #star-decorative {
    width: 1.5rem;
    height: 2.5rem;
}

}